doctype html
html
  head
    title= FireWarden
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body


    script.
        var map;
        var markers = [];
        function initMap() {
            var myLoc = {lat: -27.4698, lng: 153.0251 };
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    console.log("Lat: " + position.coords.latitude + " Lng: " + position.coords.longitude);
                    myLoc = position;
                });
            }
            map = new google.maps.Map(document.getElementById('map'), {
                center: myLoc,
                zoom: 8
            });

            //Add marker on current location
            /*marker = new google.maps.Marker({
                position: myLoc,
                map: map
            });*/

            map.addListener('click', function(event) {
                addMarker(event.latLng);
                console.log("clicked");
            });
        }


        // Adds a marker to the map and push to the array.
        function addMarker(location) {
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            markers.push(marker);
        }

        // Deletes all markers in the array by removing references to them.
        function deleteMarkers() {
            console.log("deleteing markers")
            clearMarkers();
            markers = [];
        }

        // Removes the markers from the map, but keeps them in the array.
        function clearMarkers() {
            setMapOnAll(null);
        }

        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }


    block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB8Xam62TS4-Hl6K9SdE-hBurybdDVT6gQ&callback=initMap')
    script(src='/javascripts/global.js')
