doctype html
html
  head
    title Fire Warden
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/css/bootstrap-slider.min.css')
    script(src='/javascripts/global.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body


    script.
        //var WebSocket = require('ws');
        var ws;

        var map;
        var directions_service;
        var directionsDisplay;
        var chincilla;
        var brisbane;
        var wardenLocations;
        var markers = [];
        var serverMarkers = [];
        var currentMaker;

        function formatDate(date) {
          var monthNames = [
            "Jan", "Feb", "Mar",
            "Apr", "May", "Jun", "Jul",
            "Aug", "Sep", "Oct",
            "Nov", "Dec"
          ];

          var day = date.getDate();
          var monthIndex = date.getMonth();
          var year = date.getFullYear();

          return day + ' ' + monthNames[monthIndex] + ' ' + year;
        }

        function initMap() {
            ws = new WebSocket('ws://127.0.0.1:3001');
            wardenLocations = new WardenLocations(ws);
            directions_service = new google.maps.DirectionsService();
            directionsDisplay =  new google.maps.DirectionsRenderer();
            chincilla = new google.maps.LatLng(-26.7554,150.6285);
            brisbane = new google.maps.LatLng(-27.4698,153.0251);
            map = new google.maps.Map(document.getElementById('map'), {
              center: wardenLocations.currentLocation,
              zoom: 8
            });
            wardenLocations.setMap(map);
            directionsDisplay.setMap(map);
            //Add marker on current location

            map.addListener('click', function(event) {
                wardenLocations.addFirePoint(event.latLng);
                $("#btnSubmit").addClass("btn-success");
                $("#btnSubmit").removeClass("disabled");
            });

            $(document).on('click','.dispatch-btn',function (event) {
                wardenLocations.findNearestFirestation(
                    wardenLocations.selectedMarker.getPosition()
                );
            });


            //socket successfully connected
            ws.onopen = function(event) {
                // flags.binary will be set if a binary data is received.
                // flags.masked will be set if the data was masked.
                console.log("websocket open");
            };

            // Create the slider
            var timeline = $("#timeline");
            var date = new Date();
            var timestamp = date.getTime() / 1000 / 60;
            var day = 60*24;

            timeline.slider({
                id: "sldTimeline", 
                value: timestamp,
                ticks: [timestamp-day, timestamp, timestamp+day],
                ticks_labels: ['-24H', date.toLocaleTimeString() + " " + formatDate(date), '+24H'],
                ticks_snap_bounds: 20, // 10 minutes
                formatter: function(value) {
                    var tmpDate = new Date(value*1000*60);
                    return tmpDate.toLocaleTimeString() + " " + formatDate(tmpDate);
                },
            })
                .on('slide', function(value) {
                    console.log('slide', value.value);
                });
        }

        // Deletes all markers in the array by removing references to them.
        function deleteMarkers() {
            wardenLocations.deleteFirePoints();
            $("#btnSubmit").removeClass("btn-success");
            $("#btnSubmit").addClass("disabled");
        }

        function submitMarkers() {
            wardenLocations.submitFirePoints();
        }


    block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/bootstrap-slider.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB8Xam62TS4-Hl6K9SdE-hBurybdDVT6gQ&callback=initMap')
    
