doctype html
html
  head
    title Fire Warden
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='/javascripts/global.js')
  body


    script.
        var map;
        var directions_service;
        var directionsDisplay;
        var chincilla;
        var brisbane;
        var wardenLocations;
        var markers = [];
        var serverMarkers = [];


        function route() {
            var start = brisbane;
            var destination = chincilla;
            var request = {
                origin: start,
                destination: destination,
                travelMode: 'DRIVING'
            };

            directions_service.route(request, function(result, status) {
                if (status == 'OK') {
                    directionsDisplay.setDirections(result);
                }
            });
        }

        function initMap() {
            wardenLocations = new WardenLocations();
            /*
            var myLoc = {lat: -27.4698, lng: 153.0251 };
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    console.log("Lat: " + position.coords.latitude + " Lng: " + position.coords.longitude);
                    myLoc = position;
                });
            }
            */
            directions_service = new google.maps.DirectionsService();
            directionsDisplay =  new google.maps.DirectionsRenderer();
            chincilla = new google.maps.LatLng(-26.7554,150.6285);
            brisbane = new google.maps.LatLng(-27.4698,153.0251);
            map = new google.maps.Map(document.getElementById('map'), {
              center: wardenLocations.currentLocation,
              zoom: 8
            });
            wardenLocations.setMap(map);
            wardenLocations.addFirePoint(chincilla);
            directionsDisplay.setMap(map);
            //Add marker on current location

            /*marker = new google.maps.Marker({
                position: myLoc,
                map: map
            });*/

            map.addListener('click', function(event) {
                addMarker(event.latLng, "N"); //N for new marker
                console.log("clicked");
            });
        }


        // Adds a marker to the map and push to the array.
        function addMarker(location, label) {
            var marker = new google.maps.Marker({
                position: location,
                label: label,
                map: map
            });
            markers.push(marker);
        }

        // Deletes all markers in the array by removing references to them.
        function deleteMarkers() {
            console.log("deleteing markers")
            clearMarkers();
            markers = [];
        }

        // Removes the markers from the map, but keeps them in the array.
        function clearMarkers() {
            setMapOnAll(null);
        }

        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }


    block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB8Xam62TS4-Hl6K9SdE-hBurybdDVT6gQ&callback=initMap')
